main .container
{
	margin-top: 0.3rem;
}
img
{
	max-width: 100%;
}
a
{
	color: #000;
}
a.active
{
	color: #29b078;
}
.tab-row
{
	width: 100%;
	padding: 0.19rem 0;
	position: relative;
	border-top: 1px solid #d0d6d9;
	border-bottom: 1px solid #edf1f2;
}
.tab-row .tab-title
{
	color: #999;
	display: inline-block;
	margin: 0;
}
.tab-row a.tab-once
{
	display: inline-block;
	margin-left: 0.2rem;
	padding: 0 0.02rem;
	color: #000;
}
.tab-row a.active
{
	background-color: #29b078;
	color: #fff;
}
.col-xs-12 h5
{
	margin: 0;
	padding: 0.2rem 0 0.19rem;
	font-weight: bold;
	text-align: left;
	border-bottom: 1px solid #d0d6d9;
}
.table-box
{
	margin-top: 0.4rem;
	position: relative;
}
.table-box-inner
{
	position: relative;
	border: 1px solid #d0d6d9;
	border-radius: 3px;
	box-shadow: 1px 1px 1px #ededed;
}
table,tr,td
{
	position: relative;
	overflow: hidden;
}
table
{
	background-color: #fff;
	position: relative;
}
table td
{
	padding: 0.1rem;
	color: #999;
	border-top: 1px solid #d0d6d9;
}
td.bf
{
	border-left: 1px solid #d0d6d9;
}
td .red-nu
{
	color: red;
}
td.center-text
{
	text-align: center;
	vertical-align: middle;
}
td .black-text
{
	color: #000;
	display: inline;
}
td .left-text
{
	color: #000;
	float: left;
}
td .right-text
{
	color: #000;
	float: right;
}
table tr td.first
{
	padding: 0.2rem 0.1rem;
	padding-left: 1.59rem;
	position: relative;
	border-top: none;
	background: url(image/img-3-1.png) no-repeat scroll 0.1rem center;
}
td.first h5
{
	font-weight: bold;
	margin: 0;
	padding: 0.1rem 0;
	border: none;
}
td.first p
{
	margin: 0;
}
td.col-half
{
	width: 50%;
	color: #999;
}
td.col-half img
{
	margin-bottom: 0.025rem;
	margin-left: 0.05rem;
}
.table-box-opacity
{
	opacity: 0;
	background: #000;
	color: #fff;
	padding: 0.3rem 0.2rem;
	font-weight: bold;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.table-box-opacity:hover
{
	opacity: 0.7;
}
.table-box-opacity h5
{
	text-align: center;
	font-weight: bold;
	margin: 0.2rem;
}
.table-box-opacity p
{
	text-indent: 0.2rem;
}
footer
{
	margin-top: 2.6rem;
}